.MainPanel {
  border-color: aliceblue;

  width: 100%;
}

.mainPanelTitle {
  display: grid;
  place-items: center;
  color: white;
}

.result {
  width: 100%;
  text-align: right;

  font-size: 5rem;
  margin-right: 2rem;
  color: white;
}

.expression {
  width: 100%;
  font-size: 2rem;
  color: white;

  text-align: right;
}

.btnNumber {
  font-size: 3rem;
  width: 10rem;
  /* background-color: chocolate; */
  color: white;
  margin: 1rem;
}

/* .btnNumber:hover {
  color: rgb(14, 6, 6);
}

.btnNumber:active {
  background-color: rgba(56, 224, 56, 0.582);
} */
