.footer {
  display: grid;
  place-items: center;
  border-style: double;
  width: 50rem;
}

.lblDesc {
  /* width: 35rem; */
  font-size: 2rem;
}

.react {
  animation: reactmove 10s infinite linear;
}

.docker {
  animation: dockerop 1s infinite alternate-reverse;
}

@keyframes reactmove {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes dockerop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
