.Calculator {
  width: min-content;
  display: grid;
  place-items: center;
  background-color: rgb(80, 32, 170);
  color: white;
}

.panel {
  display: grid;
  place-items: center;
  width: min-content;
}
