.hexagon {
  position: relative;
  width: 50px;
  height: 28.87px;
  background-color: #9e66cc;
  margin: 14.43px 0;
}

.hexagon b {
  position: relative;
  left: 10px;
  top: -3px;
  color: white;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 14.43px solid #9e66cc;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 14.43px solid #9e66cc;
}
